@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
:root {
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --text-black-800:#000000;
    --w: calc(80vw / 4);
    --h: calc(80vh / 4);
}
::before {
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.container-flex {
    position: relative;
    width: 100%;
}
.navbar {
    background-color: var(--skin-color); 
}
.nav-item {
    font-size: 10pt;
}
.navbar-brand {
    color: #e8dfec;
    font-size: 40px;
}

#navbarNav ul li a {
    font-size: 1.5em;
    color: #ffffff;
    padding: 0.5rem 1rem;
    text-align: center;   
}
    #navbarNav ul li a:hover{
        background: var(--text-black-800);
    }
.navbard ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    transition: 0.5s;
}
.navbar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    padding: 10px;
    transition: 0.5s;
}

section {
    position: relative;
    min-height: 100vh;
       
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-image: url(../img/pixel.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner .imgBx {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}
.banner .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3 {
    position: relative;
    font-size: 1.4em;
    color: var(--white);
    letter-spacing: 2px;
    text-transform: uppercase;
}
p {
    color: var(--white2);
    text-align: center;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--black2);
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    text-decoration: none;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.btn:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 15 var(--skin-color);
}
.btn:hover{
    color: var(--skin-color);
    box-shadow: 0 0 5px var(--skin-color);
    text-shadow: 0 0 5px var(--skin-color);
}
.socialMedia {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 20px;    
}
.socialMedia li {
    list-style: none;
    padding: 0 8px 0 8px;
}
.socialMedia li a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--black);
    font-size: 2.2em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.5);
    transition: background 0.25s;
}
.js-tilt-glare {
    border-radius: 10px;
}
.socialMedia li a:hover {
    background: var(--black2);
    color: #fff;
}
.socialMedia li a:hover.github {
    background: #171515;
}
.socialMedia li a:hover.linkedin {
    background: #0A66C2;
}
.socialMedia li a:hover.instagram {
    background: #C13584;
}
.socialMedia li a:hover.twitter {
    background: #0099ff;
}
.socialMedia li a .fab {
    transition: 0.25;
    pointer-events: none;
}
.socialMedia li a:hover .fab {
    color: #fff;
    transform: scale(1.75) translateZ(50px);
}

/*Sobre mi*/

.about .section-title {
    margin-top: 50px;
}
.about .about-content {
    margin-top: 50px;
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
    color: var(--skin-color);
}
.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}
.about .about-content .skills {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}
.about .about-content .personal-info p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);  
}
.about .about-content .skills img {
    flex: 0 0 100%;
    max-width: 100%;
}
/*services*/
.service {
    background: #050801;
}
.service .section-title {
    margin-top: 40px;
    color: var(--bg-black-900);
}
.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    transition: 0.5s;
}
.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 60px 15px;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1;
    transform: translateY(100px);
}
.service .service-item:hover .service-item-inner{
    background: var(--skin-color);
    transform: translateY(0);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

}
.service .service-item .service-item-inner .icon{
    border-radius: 50%;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;

}
.service .service-item .service-item-inner .icon img {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    width: 70%;
}
.service .service-item .service-item-inner h4 {
    font-size: 25px;
    margin-bottom: 15px;
}
.service .service-item .service-item-inner p {
    font-size: 18px;
    color: var(--text-black-700);
    line-height: 25px;
}
/*Habilidades*/
.section-table {
    padding: 0;
    margin: 0;
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#tablero {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%
}

.area-tarjeta,
.tarjeta,
.cara {
    cursor: pointer;
    width: var(--w);
    min-width: 90px;
    height: var(--h);
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 3s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trasera {
    background-color: #CA481E;
    transform: rotateY(180deg);
}

.superior {
    background: linear-gradient(orange, darkorange);
}

.nuevo-juego {
    cursor: pointer;
    background: var(--skin-color);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 130%;
}

@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}
.cargarIconos {
    align-items: flex-start;
}

/*Portafolio*/ 
.portafolio {
    background: #050801;
}
.portafolio .section-title {
    color: var(--bg-black-900);
}
.portafolio .container {
    padding-bottom: 10px;
    max-width: 100%;
}
.portafolio .portafolio-heading {
    flex: 0% 0% 100%;
    max-width: 100%;
}
.portafolio .portafolio-item {
    margin-top: 40px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portafolio .portafolio-item-inner {
    overflow: hidden;
    cursor: pointer;

}
.portafolio .portafolio-item-inner .portafolio-img img {
   width: 70%;
   display: block;
}
.portafolio .portafolio-item-inner .portafolio-img img:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px var(--skin-color);
}
.portafolio .portafolio-item-inner .portafolio-img a {
    margin-top: 12px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--skin-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
    -webkit-box-reflect: below 1px linear-gradient(
        transparent,#0005);
    
}
.portafolio .portafolio-item-inner .portafolio-img a:hover {
    color: #050801;
    background: var(--skin-color);
    box-shadow: 
        0 0 5px var(--skin-color),
        0 0 25px var(--skin-color),
        0 0 50px var(--skin-color),
        0 0 200px var(--skin-color);
    transition: .1s all;
    transition-delay: .1s;
}
.portafolio .portafolio-item-inner .portafolio-img a span {
    position: absolute;
    display: block;
}
/*Contacto*/
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon {
    display: inline-block;
}
.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-900);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all .03s ease;
}
.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
#textMensaje {
    height: 240px;
}
.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
    background-color: var(--skin-color);
}
@media (max-width:1199px) {
    .aside
    {
        left: -270px;
    }
    .main-content
    {
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span 
    {
        display: block;
        margin-left: 0;
    }

}
@media (max-width:991px) {
    .contact .contact-info-item,
    .portafolio .portafolio-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        display: none;
    }
}
@media (max-width:767px) {
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portafolio .portafolio-item,
    .service .service-item,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


